@import "tailwindcss";

/* Hapus baris @plugin typography biar gak error */

/* Konfigurasi Source untuk Tailwind v4 */
/* Ini penting biar dia scan folder yang bener */

@source "../../../packages/ui/src/**/*.{ts,tsx}";
/* ^^^ INI KUNCI BIAR STYLE UI MUNCUL ^^^ */

@source "../../../apps/widget/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent !important;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent !important;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#__next {
  height: 100%;
  width: 100%;
  background-color: transparent !important;
}
